.logo-1-icon12 {
  width: 143.5px;
  position: relative;
  height: 57px;
  object-fit: cover;
}
.home4,
.user-icon {
  position: relative;
  height: 30px;
}
.home4 {
  width: 100px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-icon {
  width: 30px;
  object-fit: cover;
}
.user-wrapper {
  border-radius: var(--br-21xl);
  background-color: var(--color-darkslategray-100);
  padding: var(--padding-3xs);
}
.home-parent1,
.navbar3,
.user-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-parent1 {
  width: 436px;
  background-color: var(--color-gray);
  flex-shrink: 0;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.navbar3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-khaki-100);
  width: 100%;
  gap: 700px;
}
.navbar-wrapper {
  width: 100%;
  position: relative;
  height: 70px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
